<div style="border-radius: 0.5rem" class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito':'estadoNoFavorito'">
  <div class="card-img">
    <img style="border-radius: 0.5rem 0.5rem 0 0" src="https://placeimg.com/380/230/nature" alt="">
    <span id="card-index"><h4>{{ destino.votes }}</h4></span>
    <span (click)="voteUp()" id="card-voteUp" appTrackearClick data-trackear-tags = "destino_vote_up lista_destinos_item"><h4><i class="fas fa-thumbs-up"></i></h4></span>
    <span (click)="voteDown()" id="card-voteDown" appTrackearClick data-trackear-tags = "destino_vote_down lista_destinos_item"><h4><i class="fas fa-thumbs-down"></i></h4></span>
  </div>
  <span (click)="setEliminarDestino(indice)" id="card-close" class="float-right" aria-hidden="true" title="Eliminar">&times;</span>

  <div style="padding-top: 12px" class="card-desc">
    <h3 style="color: #363636;">{{ destino.nombre }}</h3>
    <p class="mb-2">{{ destino.descripcion }}</p>
    <hr style="margin-top: 12px; margin-bottom: 12px">
    <p style="font-weight: 500" class="mb-0 text-dark">Servicios</p>
    <ul>
      <li class="mb-1 text-muted" *ngFor="let servicio of destino.servicios">
        <span [ngSwitch]="servicio">
          <i *ngSwitchCase="'Desayuno'" title="Gratis">{{ servicio }}* </i>
          <i *ngSwitchDefault>{{ servicio }}</i>
        </span>
      </li>
    </ul>
    <div class="d-flex flex-grow-1 justify-content-center">
      <a class="btn-card mr-1 hvr-sweep-to-right-like" (click)="seleccionar()" appTrackearClick data-trackear-tags = "destino_set_favorite lista_destinos_item">Favorito <i *ngIf="destino.isSelected()" class="fas fa-heart fa-sm"></i></a>
      <a class="btn-card btn-detalle ml-1 hvr-sweep-to-right-detail" [routerLink]="['/destino', indice]">Detalles</a>
    </div>
  </div>

</div>

